pkgbase = mongo_fdw
	pkgdesc = PostgreSQL foreign data wrapper for MongoDB
	pkgver = 4.0.0
	pkgrel = 1
	url = https://github.com/EnterpriseDB/mongo_fdw
	arch = i686
	arch = x86_64
	license = LGPL3
	makedepends = perl
	depends = mongo-c-driver>=1.2.1
	source = https://github.com/EnterpriseDB/mongo_fdw/archive/REL-4_0_0.tar.gz
	md5sums = 9705f9d0c9affefa4184fb66051b7c90
pkgname = mongo_fdw
